# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
*.egg
build/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
